.container {
  position: relative;
  justify-items: center;
  gap: 3rem;
  padding: 0.85rem;
  background: linear-gradient(90deg, var(--politico-blue) 0%, var(--politico-dark-blue) 100%);

}

.label {
  padding-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.icon-override span{
  font-size: 14px !important;
  padding-top: 6px !important;
}