button {
  $politico-blue: #007BC7;
  &.btn {
    @apply flex items-center px-4 py-1 rounded-full transition;
  }

  &.btn-solid {
    @apply hover:brightness-110 hover:shadow-md;
    color: rgb(248, 250, 252);
    background-image: linear-gradient(to right, $politico-blue, #02588d);
  }

  &.btn-outline {
    @apply bg-slate-100 text-slate-800 border border-slate-800;
    &:hover {
      @apply bg-slate-800 text-slate-100
    }
  }

  &.btn-ghost {
    @apply text-slate-700 hover:underline hover:text-slate-900;
  }
}