.slate-50 {
  color: var(--slate-50);
}

.slate-100 {
  color: var(--slate-100);
}

.slate-200 {
  color: var(--slate-200);
}

.slate-300 {
  color: var(--slate-300);
}

.slate-400 {
  color: var(--slate-400);
}

.slate-500 {
  color: var(--slate-500);
}

.slate-600 {
  color: var(--slate-50);
}

.slate-700 {
  color: var(--slate-50);
}

.slate-800 {
  color: var(--slate-50);
}

.slate-900 {
  color: var(--slate-50);
}

