.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.text-slate-50 {
  color: var(--slate-50);
}

.text-slate-100 {
  color: var(--slate-100);
}

.text-slate-200 {
  color: var(--slate-200);
}

.text-slate-300 {
  color: var(--slate-300);
}

.text-slate-400 {
  color: var(--slate-400);
}

.text-slate-500 {
  color: var(--slate-500);
}

.text-slate-600 {
  color: var(--slate-50);
}

.text-slate-700 {
  color: var(--slate-50);
}

.text-slate-800 {
  color: var(--slate-50);
}

.text-slate-900 {
  color: var(--slate-50);
}