.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.alert {
  max-width: 300px;
  background-color: white;
}

.note {
  text-align: center;
  color: var(--slate-800);
  margin: .75rem 0;
}

.enter {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
}

.enter-from, .leave-to {
  opacity: 0;
}

.enter-to, .leave-from {
  opacity: 100;
}

.leave {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 75ms;
}