.styles :global {
  #g-md-box .g-artboard {
    margin:0 auto;
  }
  #g-md-box p {
    margin:0;
  }
  .g-aiAbs {
    position:absolute;
  }
  .g-aiImg {
    display:block;
    width:100% !important;
  }
  .g-aiSymbol {
    position: absolute;
    box-sizing: border-box;
  }
  .g-aiPointText p { white-space: nowrap; }
  svg{ vector-effect: non-scaling-stroke; }
  #g-Map-md {
    position:relative;
    overflow:hidden;
  }
  #g-Map-md p {
    font-family:"Jubilat", Georgia, Times, "Times New Roman", serif;
    font-weight:700;
    font-size:21px;
    line-height:23px;
    height:auto;
    filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    letter-spacing:0em;
    text-align:left;
    color:rgb(0,0,0);
    text-transform:none;
    padding-bottom:0;
    padding-top:0;
    mix-blend-mode:normal;
    font-style:normal;
    position:static;
  }
  #g-Map-md .g-pstyle0 {
    font-family:"din-2014", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:60px;
    line-height:26px;
    height:26px;
    color:rgb(242,242,242);
  }
  #g-Map-md .g-pstyle1 {
    height:23px;
    text-align:center;
  }
  #g-Map-md .g-pstyle2 {
    font-family:"din-2014", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:17px;
    line-height:20px;
    height:20px;
    text-align:center;
  }
  #g-Map-md .g-pstyle3 {
    font-family:"din-2014", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:15px;
    line-height:18px;
    height:18px;
    text-align:center;
  }
}
