.dek {
  color: var(--slate-700);
}

.timestamp-btn {
  display: inline-block;
  text-decoration: underline;
}

.timestamp-btn:hover {
  color: var(--politico-dark-blue);
  border-bottom-color:var(--politico-dark-blue);
}