.panel-container {
  position: relative;
  margin-top: auto;
}

.panel {
  background-color: white;
  position: absolute;
  bottom: 2rem;
  z-index: 3;
}

.divider {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid var(--slate-300);
}

.settings-input {
 margin-bottom: 1rem;
}

.settings-input > br {
  display: none;
}

.advanced {
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: .5rem;
  align-self: flex-start;
}

.dir {
  padding: .25rem .5rem;
  font-size: 12px;
  color: white;
  font-family: monospace;
  border: 1px solid var(--slate-300);
  background-color: var(--slate-600);
}