.item {
  width: 100%;
  justify-content: flex-start;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(0, 123, 199, 0.2) !important;
}

.item:active {
  background-color: rgba(0, 123, 199, 0.4) !important;
}

.selected {
  font-weight: 600;
  background-color: rgba(0, 123, 199, 0.1) !important;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--slate-300);
}

.item-name {
  max-width: 100%;
  -webkit-user-select: none;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex-shrink: 200;
}

.icon {
  flex-basis: 1.5rem;
}