.styles :global {
  #g-desktop-box .g-artboard {
    margin:0 auto;
  }
  #g-desktop-box p {
    margin:0;
  }
  .g-aiAbs {
    position:absolute;
  }
  .g-aiImg {
    display:block;
    width:100% !important;
  }
  .g-aiSymbol {
    position: absolute;
    box-sizing: border-box;
  }
  .g-aiPointText p { white-space: nowrap; }

  #g-Graph-desktop {
    position:relative;
    overflow:hidden;
  }
  #g-Graph-desktop p {
    font-family:"din-2014", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:19px;
    line-height:23px;
    height:auto;
    filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    letter-spacing:0em;
    text-align:left;
    color:rgb(0,0,0);
    text-transform:none;
    padding-bottom:0;
    padding-top:0;
    mix-blend-mode:normal;
    font-style:normal;
    position:static;
  }
  #g-Graph-desktop .g-pstyle0 {
    font-weight:800;
    font-size:24px;
    line-height:20px;
    height:20px;
  }
  #g-Graph-desktop .g-pstyle1 {
    height:23px;
  }
  #g-Graph-desktop .g-pstyle2 {
    font-weight:700;
    font-size:21px;
    line-height:26px;
    height:26px;
    text-align:center;
  }
  #g-Graph-desktop .g-pstyle3 {
    font-weight:300;
    font-size:16px;
    line-height:19px;
    height:19px;
    text-align:center;
    color:rgb(102,102,102);
  }
  #g-Graph-desktop .g-pstyle4 {
    height:23px;
    text-align:center;
    color:rgb(102,102,102);
  }
}
